body {
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}
input[type=submit] {
    background-color: blue;
    border: none;
    color: yellow;
    padding: 13px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=text]:focus {
    border: 3px solid #555;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
h1 {
    color: #ffff80;
    font-family:  Times New Roman;
    font-size: 300%;

}

